### Date & Time Feature Engineering
#### what is it :
- Extract meaningful numerical features from date/time columns.
#### why needed :
- Models donâ€™t understand timestamps directly.

### common date features
- Year, Month, Day
- Day of week
- Is weekend
- Hour, Minute
- Time difference

In [2]:
import pandas as pd

df = pd.DataFrame({
    "order_date": ["2024-01-05", "2024-01-06", "2024-01-07"]
})

df["order_date"] = pd.to_datetime(df["order_date"])

In [ ]:
df

  order_date
0 2024-01-05
1 2024-01-06
2 2024-01-07

In [4]:
df["year"] = df["order_date"].dt.year
df["month"] = df["order_date"].dt.month
df["day"] = df["order_date"].dt.day
df["day_of_week"] = df["order_date"].dt.dayofweek
df["is_weekend"] = df["day_of_week"].isin([5, 6]).astype(int)

df

  order_date  year  month  day  day_of_week  is_weekend
0 2024-01-05  2024      1    5            4           0
1 2024-01-06  2024      1    6            5           1
2 2024-01-07  2024      1    7            6           1

In [5]:
df["days_since_order"] = (pd.Timestamp.today() - df["order_date"]).dt.days

In [6]:
df

  order_date  year  month  day  day_of_week  is_weekend  days_since_order
0 2024-01-05  2024      1    5            4           0               760
1 2024-01-06  2024      1    6            5           1               759
2 2024-01-07  2024      1    7            6           1               758