### What it is
- Creating new features from existing ones using logic or domain knowledge.

In [1]:
import pandas as pd

In [ ]:
df = pd.DataFrame({
    "height": [170, 160, 180],
    "weight": [68, 55, 75]
})

# creating new feature (bmi) from features weight and height
df["BMI"] = df["weight"] / (df["height"] / 100) ** 2
df

   height  weight        BMI
0     170      68  23.529412
1     160      55  21.484375
2     180      75  23.148148

In [ ]:
df = pd.DataFrame({
    "price": [100, 200, 150],
    "quantity": [2, 1, 4]
})

# creating new feature (total price) from price and quantity
df["total_price"] = df["price"] * df["quantity"]
df

   price  quantity  total_price
0    100         2          200
1    200         1          200
2    150         4          600

In [4]:
df["is_high_price"] = (df["price"] > 150).astype(int)

In [5]:
df

   price  quantity  total_price  is_high_price
0    100         2          200              0
1    200         1          200              1
2    150         4          600              0